[user]
	name = Brandon Kiser
	email = brandonkns66@gmail.com
[init]
	defaultBranch = main
[alias]
	st = status
    c = commit
    co = checkout
    cane = commit --amend --no-edit
    dc = diff --cached
[includeIf "gitdir:/Volumes/workplace/"]
    path = ~/.gitconfig-work
[core]
	excludesfile = /home/brandon/.gitignore
